@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    overflow-y: hidden;
}
.c1{
    height: 70vh;
}
.c3{
    position: absolute;
    top: 52em;
}
@media only screen and (min-width: 600px) {
   .c1{
    height: 100vh;
   }
   .c2{
    position: relative;
   
   }
   .c3{
    position: relative;
    top: -10em;
   }
   .head{
    position: relative;
    top: 1em;
   }

  }